# Inspired by https://github.com/Kotlin/multiplatform-library-template/blob/main/.gitignore

*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.kotlin
#So we don't accidentally commit our private keys
*.gpg